@font-face {
  font-family: "Museo0";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_0.otf") format("truetype"); }

@font-face {
  font-family: "Museo1";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_1.otf") format("truetype"); }

@font-face {
  font-family: "Museo2";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_2.otf") format("truetype"); }

@font-face {
  font-family: "Museo3";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_3.otf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl.otf") format("truetype"); }

button.gradient {
  font-family: "Open Sans", sans-serif;
  background: #35cdc8;
  background: linear-gradient(120deg, #35cdc8, #45bad0, #259cc1);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: unset; }
  button.gradient:active {
    background: #35cdc8; }

button.gradient-2 {
  font-family: "Open Sans", sans-serif;
  background: #84dbf0;
  background: linear-gradient(120deg, #84dbf0, #49cad5, #2ad0d0);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: unset; }
  button.gradient-2:active {
    background: #35cdc8; }

.hover-underline {
  position: relative; }
  .hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    top: 79%;
    background-color: #35cdc8;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; }
  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; }

nav.navbar {
  background-color: #f2f3f5; }
  nav.navbar ul.navbar-nav li {
    font-family: "Museo2";
    font-size: 20px; }
    nav.navbar ul.navbar-nav li a {
      color: #35cdc8; }

header {
  font-family: "Museo2";
  background-color: #f2f3f5;
  padding-top: 90px; }
  header h1 {
    color: #35cdc8;
    font-size: 68px;
    margin-bottom: 0; }
  header h5 {
    font-size: 42px;
    color: #35cdc8; }
  header p {
    font-size: 25px;
    color: #bbbbbc; }
  header button.gradient {
    font-size: 30px;
    font-family: "Museo1"; }
  header .feature-item {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif; }
    header .feature-item img {
      max-width: 50px;
      display: block;
      margin: 0 auto;
      padding-bottom: 33px; }
    header .feature-item p {
      color: #35cdc8;
      font-size: 20px;
      text-align: center;
      max-width: 80%;
      margin: 0 auto;
      font-weight: 500; }
  header .youtube {
    margin-top: 100px; }
    header .youtube iframe {
      width: 100%;
      height: 355px;
      border: 8px #35cdc8 solid;
      border-radius: 10px; }
  header .form {
    margin-top: 100px;
    font-family: "Museo2";
    background-color: #35cdc8;
    border-radius: 10px; }
    header .form h2 {
      color: #fff;
      font-size: 34px;
      padding-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 0; }
    header .form p {
      color: #f3f0f0;
      font-size: 15px;
      max-width: 80%;
      margin: 0 auto;
      padding-top: 20px; }
    header .form input {
      margin-top: 20px;
      margin-bottom: 20px;
      border: unset;
      border-radius: 30px;
      padding: 12px 25px; }
      header .form input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input::-moz-placeholder {
        /* Firefox 19+ */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input:-ms-input-placeholder {
        /* IE 10+ */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input:-moz-placeholder {
        /* Firefox 18- */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
    header .form button {
      font-size: 21px; }
