@font-face {
  font-family: "Museo0";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_0.otf") format("truetype"); }

@font-face {
  font-family: "Museo1";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_1.otf") format("truetype"); }

@font-face {
  font-family: "Museo2";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_2.otf") format("truetype"); }

@font-face {
  font-family: "Museo3";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_3.otf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl.otf") format("truetype"); }

button.gradient {
  font-family: "Open Sans", sans-serif;
  background: #35cdc8;
  background: linear-gradient(to right, #35cdc8, #259cc1);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: unset;
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite; }
  button.gradient:active {
    background: #35cdc8; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

button.gradient-2 {
  font-family: "Open Sans", sans-serif;
  background: #84dbf0;
  background: linear-gradient(to right, #84dbf0, #2ad0d0);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: unset;
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite; }
  button.gradient-2:active {
    background: #35cdc8; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

button.gradient-3 {
  font-family: "Museo2";
  background: #047a9d;
  background: linear-gradient(to right, #047a9d, #36cbf5);
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: unset;
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite; }
  button.gradient-3:active {
    background: #35cdc8; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#googleMap .modal-dialog {
  top: 20%; }
  #googleMap .modal-dialog .modal-header {
    background-color: #35cdc8; }
    #googleMap .modal-dialog .modal-header h4 {
      font-family: "Museo0";
      color: #fff;
      font-size: 19px; }
    #googleMap .modal-dialog .modal-header .close {
      color: #fff; }
  #googleMap .modal-dialog .modal-body {
    padding: 0; }

#footerModal {
  top: 12%; }

.mainModals {
  top: 18%; }
  .mainModals .modal-dialog {
    font-family: "Museo3";
    border: 11px #2ecccf solid;
    border-radius: unset; }
    .mainModals .modal-dialog .modal-content {
      border: unset;
      border-radius: unset; }
      .mainModals .modal-dialog .modal-content .modal-header {
        padding-bottom: 0;
        border: unset; }
        .mainModals .modal-dialog .modal-content .modal-header button.close {
          opacity: 1; }
          .mainModals .modal-dialog .modal-content .modal-header button.close span {
            color: #009f9e;
            font-size: 39px; }
      .mainModals .modal-dialog .modal-content .modal-body h1 {
        font-size: 29px;
        color: #35cdc8; }
      .mainModals .modal-dialog .modal-content .modal-body p {
        font-family: "Museo1";
        font-size: 16px;
        color: #047a9d;
        font-weight: bold; }
      .mainModals .modal-dialog .modal-content .modal-body form {
        margin-top: 25px; }
        .mainModals .modal-dialog .modal-content .modal-body form .footer-btn {
          margin-bottom: 70px; }
          .mainModals .modal-dialog .modal-content .modal-body form .footer-btn button {
            width: 305px;
            font-size: 20px; }
        .mainModals .modal-dialog .modal-content .modal-body form textarea {
          resize: none; }
        .mainModals .modal-dialog .modal-content .modal-body form input,
        .mainModals .modal-dialog .modal-content .modal-body form textarea {
          background-color: #f1f1f1;
          border: unset;
          border-radius: 30px;
          padding: 12px 35px;
          margin-top: 30px;
          max-width: 315px;
          margin: 0 auto; }
          .mainModals .modal-dialog .modal-content .modal-body form input::-webkit-input-placeholder,
          .mainModals .modal-dialog .modal-content .modal-body form textarea::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-family: "Museo0";
            color: #999898;
            font-size: 15px; }
          .mainModals .modal-dialog .modal-content .modal-body form input::-moz-placeholder,
          .mainModals .modal-dialog .modal-content .modal-body form textarea::-moz-placeholder {
            /* Firefox 19+ */
            font-family: "Museo0";
            color: #999898;
            font-size: 15px; }
          .mainModals .modal-dialog .modal-content .modal-body form input:-ms-input-placeholder,
          .mainModals .modal-dialog .modal-content .modal-body form textarea:-ms-input-placeholder {
            /* IE 10+ */
            font-family: "Museo0";
            color: #999898;
            font-size: 15px; }
          .mainModals .modal-dialog .modal-content .modal-body form input:-moz-placeholder,
          .mainModals .modal-dialog .modal-content .modal-body form textarea:-moz-placeholder {
            /* Firefox 18- */
            font-family: "Museo0";
            color: #999898;
            font-size: 15px; }

@media (min-width: 576px) {
  #callMeModal .modal-dialog {
    max-width: 480px;
    margin: 1.75rem auto; } }

@media screen and (max-width: 575px) {
  .mainModals .modal-dialog {
    border: unset; }
    .mainModals .modal-dialog .modal-content .modal-body h1 {
      font-size: 24px; }
    .mainModals .modal-dialog .modal-content .modal-body p {
      font-size: 11px; }
    .mainModals .modal-dialog .modal-content .modal-body form .footer-btn button {
      width: unset; }
    .mainModals .modal-dialog .modal-content .modal-body form input {
      max-width: unset; } }

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px; }
  .scrolltop .scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #089999;
    padding: 5px 10px 5px 10px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; }
    .scrolltop .scroll .fa {
      font-size: 30px;
      color: white;
      transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s; }

.hover-underline {
  position: relative; }
  .hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    top: 79%;
    background-color: #35cdc8;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; }
  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; }

nav.navbar {
  background-color: #f2f3f5; }
  nav.navbar ul.navbar-nav li {
    font-family: "Museo2";
    font-size: 20px; }
    nav.navbar ul.navbar-nav li:nth-last-child(2) {
      margin-right: 115px; }
    nav.navbar ul.navbar-nav li a {
      color: #35cdc8; }

header {
  font-family: "Museo2";
  background-color: #f2f3f5;
  padding-top: 90px;
  min-height: 1000px; }
  header h1 {
    color: #35cdc8;
    font-size: 76px;
    margin-bottom: 0; }
  header h5 {
    font-size: 42px;
    color: #35cdc8; }
  header p {
    font-size: 25px;
    color: #bbbbbc;
    padding-bottom: 80px; }
  header .paper img {
    max-width: 500px; }
  header button.gradient {
    font-size: 30px;
    font-family: "Museo1"; }
  header .feature-item {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif; }
    header .feature-item img {
      max-width: 50px;
      display: block;
      margin: 0 auto;
      padding-bottom: 33px; }
    header .feature-item p {
      color: #35cdc8;
      font-size: 20px;
      text-align: center;
      max-width: 80%;
      margin: 0 auto;
      font-weight: 500;
      padding-bottom: 0; }
  header .relative-block {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; }
  header .youtube {
    margin-top: 100px; }
    header .youtube iframe {
      width: 100%;
      height: 355px;
      border: 8px #35cdc8 solid;
      border-radius: 10px; }
  header .form {
    margin-top: 100px;
    font-family: "Museo2";
    background-color: #35cdc8;
    border-radius: 10px; }
    header .form h2 {
      color: #fff;
      font-size: 34px;
      padding-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 0; }
    header .form p {
      color: #f3f0f0;
      font-size: 15px;
      max-width: 80%;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 0; }
    header .form input {
      margin-top: 20px;
      margin-bottom: 20px;
      border: unset;
      border-radius: 30px;
      padding: 12px 25px; }
      header .form input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input::-moz-placeholder {
        /* Firefox 19+ */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input:-ms-input-placeholder {
        /* IE 10+ */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input:-moz-placeholder {
        /* Firefox 18- */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
    header .form button {
      font-size: 21px; }

#plans {
  margin-top: 300px;
  font-family: "Museo2"; }
  #plans h1 {
    font-size: 48px;
    color: #35cdc8;
    padding-bottom: 52px; }
  #plans .plans-item > div {
    background: #31c9cd;
    background: linear-gradient(120deg, #31c9cd, #2dbfd6, #3bc6ea);
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px; }
    #plans .plans-item > div h3 {
      font-size: 21px;
      color: #fff;
      text-align: center;
      padding-bottom: 20px; }
    #plans .plans-item > div p {
      font-size: 15px;
      color: #e4e0e0;
      margin: 0 auto;
      max-width: 70%;
      text-align: center;
      padding-bottom: 20px; }
    #plans .plans-item > div button {
      font-size: 21px; }
  #plans .desription {
    padding-top: 60px; }
    #plans .desription p {
      font-family: "MuseoSansCyrl";
      color: #35cdc8;
      font-weight: bold; }

#additional-services {
  background-color: #35cdc8;
  padding-bottom: 95px;
  padding-top: 70px; }
  #additional-services h1 {
    color: #fff;
    font-family: "Museo2";
    font-size: 45px;
    padding-bottom: 70px; }
  #additional-services .services-item div {
    background-color: #f0f0f0;
    border-radius: 30px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 30px;
    min-height: 340px; }
    #additional-services .services-item div img {
      max-width: 128px;
      display: block;
      margin: 0 auto;
      padding-bottom: 30px; }
    #additional-services .services-item div p {
      font-family: "Museo1";
      font-weight: bold;
      color: #35cdc8; }
  #additional-services .services-item button {
    font-family: "Museo1";
    font-size: 21px;
    font-weight: bold; }

#about {
  margin-top: 30px;
  background-color: #f1f1f1;
  border-top: 4px #35cdc8 solid;
  border-bottom: 4px #35cdc8 solid;
  padding-top: 95px;
  padding-bottom: 95px; }
  #about h1 {
    font-family: "Museo2";
    font-size: 31px;
    color: #35cdc8; }
  #about img {
    max-width: 195px; }
  #about h3 {
    font-family: "Museo1";
    font-size: 15px;
    color: #a7a8a8;
    padding-bottom: 32px;
    font-weight: bold; }
  #about p.about {
    font-size: 15px;
    font-family: "Museo0";
    color: #101010;
    font-weight: bold; }
  #about p.recomendation {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 15px;
    font-family: "Museo0";
    color: #35cdc8;
    max-width: 60%;
    font-weight: bold; }
  #about button {
    font-family: "Museo1";
    font-size: 21px; }

#steps {
  padding-top: 95px;
  padding-bottom: 60px; }
  #steps h1.head {
    color: #35cdc8;
    font-family: "Museo2";
    font-size: 45px;
    margin-bottom: 0; }
  #steps .step-block,
  #steps .step-img {
    margin-top: 120px; }
  #steps .step-img img {
    border: 1px #bfeceb solid; }
  #steps .step-block {
    border: 3px #35cdc8 solid; }
    #steps .step-block p {
      font-family: "Museo2";
      color: #35cdc8;
      font-size: 23px; }
    #steps .step-block .step-number img {
      width: 105px;
      height: auto;
      margin-left: 15px; }
    #steps .step-block .step-item h1 {
      font-size: 143px;
      font-family: "Museo2";
      color: #ecf0f2;
      margin-bottom: 0; }
    #steps .step-block button {
      font-size: 21px;
      font-family: "Museo2"; }
  #steps .get-q {
    font-size: 35px;
    font-family: "Museo2"; }
  #steps .first-step-block {
    position: relative; }
    #steps .first-step-block:before {
      content: '';
      width: 206px;
      background-color: #35cdc8;
      height: 3px;
      position: absolute;
      left: -55.62%;
      top: 30%;
      color: #35cdc8; }
  #steps .first-step-img {
    position: relative; }
    #steps .first-step-img:after {
      content: '';
      width: 206px;
      background-color: #35cdc8;
      height: 3px;
      position: absolute;
      right: -33.5%;
      top: 60%;
      color: #35cdc8; }
  #steps .second-step-img:before {
    content: '';
    width: 206px;
    background-color: #35cdc8;
    height: 3px;
    position: absolute;
    left: -33.5%;
    top: 60%;
    color: #35cdc8; }
  #steps .second-step-block {
    position: relative; }
    #steps .second-step-block:after {
      content: '';
      width: 206px;
      background-color: #35cdc8;
      height: 3px;
      position: absolute;
      right: -55.62%;
      top: 30%;
      color: #35cdc8; }

#online-q {
  background-color: #f9f8f8;
  padding-bottom: 35px;
  padding-top: 100px; }
  #online-q h1 {
    color: #35cdc8;
    font-family: "Museo2";
    font-size: 45px; }
  #online-q p {
    margin: 0; }
    #online-q p.under-head {
      color: #35cdc8;
      font-family: "Museo2";
      font-size: 21px;
      padding-bottom: 50px; }
  #online-q .line-2 {
    padding-top: 40px; }
  #online-q .quest-item {
    background-color: #ebebeb;
    border-radius: 20px;
    color: #35cdc8;
    font-family: "MuseoSansCyrl";
    font-size: 19px;
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-top: 15px; }
  #online-q .admin {
    text-align: center; }
    #online-q .admin .first-name {
      font-family: "Museo2";
      font-size: 25px;
      color: #666767; }
    #online-q .admin .second-name {
      font-family: "Museo2";
      font-size: 25px;
      color: #089999; }
    #online-q .admin span {
      font-family: "Museo1";
      font-size: 17px;
      color: #089999; }
  #online-q .form-q {
    font-family: "Open Sans", sans-serif;
    background: #35cdc8;
    background: linear-gradient(120deg, #35cdc8, #45bad0, #259cc1);
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: unset;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 40px; }
  #online-q h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    max-width: 70%;
    margin: 0 auto; }
  #online-q form {
    max-width: 500px;
    margin: 0 auto; }
    #online-q form input,
    #online-q form textarea {
      background-color: #f1f1f1;
      border: unset;
      border-radius: 30px;
      padding: 12px 25px; }
      #online-q form input::-webkit-input-placeholder,
      #online-q form textarea::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      #online-q form input::-moz-placeholder,
      #online-q form textarea::-moz-placeholder {
        /* Firefox 19+ */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      #online-q form input:-ms-input-placeholder,
      #online-q form textarea:-ms-input-placeholder {
        /* IE 10+ */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      #online-q form input:-moz-placeholder,
      #online-q form textarea:-moz-placeholder {
        /* Firefox 18- */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
  #online-q button.get-q {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px; }

#contacts {
  background-color: #f2f2f2;
  border-top: 5px #35cdc8 solid;
  border-bottom: 5px #35cdc8 solid;
  padding-top: 67px;
  padding-bottom: 67px; }
  #contacts h1 {
    font-family: "Museo2";
    font-size: 45px;
    color: #35cdc8; }
  #contacts img.blue-line {
    padding-top: 25px;
    padding-bottom: 93px; }
  #contacts img.team {
    border: 9px #089999 solid;
    border-radius: 10px;
    max-width: 95%; }
  #contacts h2 {
    font-family: "Museo2";
    font-size: 45px;
    color: #35cdc8; }
  #contacts p.address {
    font-family: "Museo1";
    font-weight: bold;
    font-size: 17px;
    color: #089999; }
  #contacts .right-part {
    padding-left: 40px; }
  #contacts .contact {
    padding-bottom: 30px;
    position: relative; }
    #contacts .contact:before {
      content: '';
      width: 3px;
      background-color: #c7dee5;
      position: absolute;
      height: 92%;
      left: -8.2%; }
    #contacts .contact a {
      font-family: "Museo1";
      font-weight: bold;
      font-size: 17px;
      color: #444;
      text-decoration: underline; }
    #contacts .contact ul {
      margin-top: 30px; }
      #contacts .contact ul li {
        font-family: "Museo1";
        font-weight: bold;
        font-size: 17px;
        color: #35cdc8; }
        #contacts .contact ul li img {
          max-width: 50px;
          margin-right: 15px; }
        #contacts .contact ul li a {
          font-family: "Museo1";
          font-weight: bold;
          font-size: 17px;
          color: #35cdc8 !important;
          text-decoration: unset; }
  #contacts a {
    font-family: "Museo1";
    font-weight: bold;
    font-size: 17px;
    color: #444;
    text-decoration: underline; }

footer {
  background-color: #f2f2f2;
  padding-top: 100px; }
  footer ul li a {
    font-family: "Museo2";
    color: #35cdc8;
    font-size: 20px;
    padding-bottom: 5px; }
    footer ul li a:hover {
      text-decoration: unset;
      color: #35cdc8; }
  footer .bottom-footer {
    padding-top: 67px;
    padding-bottom: 67px; }
    footer .bottom-footer p {
      font-family: "Museo2";
      color: #a9aaaa;
      font-size: 16px; }
    footer .bottom-footer img {
      max-width: 35px;
      height: auto; }
    footer .bottom-footer a {
      padding-left: 12px; }
