@font-face {
  font-family: "Museo0";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_0.otf") format("truetype"); }

@font-face {
  font-family: "Museo1";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_1.otf") format("truetype"); }

@font-face {
  font-family: "Museo2";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_2.otf") format("truetype"); }

@font-face {
  font-family: "Museo3";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_3.otf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl.otf") format("truetype"); }

button.gradient {
  font-family: "Open Sans", sans-serif;
  background: #35cdc8;
  background: linear-gradient(120deg, #35cdc8, #45bad0, #259cc1);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: unset; }
  button.gradient:active {
    background: #35cdc8; }

button.gradient-2 {
  font-family: "Open Sans", sans-serif;
  background: #84dbf0;
  background: linear-gradient(120deg, #84dbf0, #49cad5, #2ad0d0);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: unset; }
  button.gradient-2:active {
    background: #35cdc8; }

button.gradient-3 {
  font-family: "Museo2";
  background: #047a9d;
  background: linear-gradient(120deg, #047a9d, #1da0c5, #36cbf5);
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: unset; }
  button.gradient-3:active {
    background: #35cdc8; }

.hover-underline {
  position: relative; }
  .hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    top: 79%;
    background-color: #35cdc8;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; }
  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; }

nav.navbar {
  background-color: #f2f3f5; }
  nav.navbar ul.navbar-nav li {
    font-family: "Museo2";
    font-size: 20px; }
    nav.navbar ul.navbar-nav li a {
      color: #35cdc8; }

header {
  font-family: "Museo2";
  background-color: #f2f3f5;
  padding-top: 90px;
  min-height: 1100px; }
  header h1 {
    color: #35cdc8;
    font-size: 68px;
    margin-bottom: 0; }
  header h5 {
    font-size: 42px;
    color: #35cdc8; }
  header p {
    font-size: 25px;
    color: #bbbbbc; }
  header button.gradient {
    font-size: 30px;
    font-family: "Museo1"; }
  header .feature-item {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif; }
    header .feature-item img {
      max-width: 50px;
      display: block;
      margin: 0 auto;
      padding-bottom: 33px; }
    header .feature-item p {
      color: #35cdc8;
      font-size: 20px;
      text-align: center;
      max-width: 80%;
      margin: 0 auto;
      font-weight: 500; }
  header .relative-block {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; }
  header .youtube {
    margin-top: 100px; }
    header .youtube iframe {
      width: 100%;
      height: 355px;
      border: 8px #35cdc8 solid;
      border-radius: 10px; }
  header .form {
    margin-top: 100px;
    font-family: "Museo2";
    background-color: #35cdc8;
    border-radius: 10px; }
    header .form h2 {
      color: #fff;
      font-size: 34px;
      padding-top: 40px;
      padding-bottom: 20px;
      margin-bottom: 0; }
    header .form p {
      color: #f3f0f0;
      font-size: 15px;
      max-width: 80%;
      margin: 0 auto;
      padding-top: 20px; }
    header .form input {
      margin-top: 20px;
      margin-bottom: 20px;
      border: unset;
      border-radius: 30px;
      padding: 12px 25px; }
      header .form input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input::-moz-placeholder {
        /* Firefox 19+ */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input:-ms-input-placeholder {
        /* IE 10+ */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
      header .form input:-moz-placeholder {
        /* Firefox 18- */
        font-family: "Museo0";
        color: #999898;
        font-size: 15; }
    header .form button {
      font-size: 21px; }

#plans {
  margin-top: 250px;
  font-family: "Museo2"; }
  #plans h1 {
    font-size: 48px;
    color: #35cdc8;
    padding-bottom: 52px; }
  #plans .plans-item > div {
    background: #31c9cd;
    background: linear-gradient(120deg, #31c9cd, #2dbfd6, #3bc6ea);
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px; }
    #plans .plans-item > div h3 {
      font-size: 21px;
      color: #fff;
      text-align: center;
      padding-bottom: 20px; }
    #plans .plans-item > div p {
      font-size: 15px;
      color: #e4e0e0;
      margin: 0 auto;
      max-width: 70%;
      text-align: center;
      padding-bottom: 20px; }
    #plans .plans-item > div button {
      font-size: 21px; }
  #plans .desription {
    padding-top: 60px; }
    #plans .desription p {
      font-family: "MuseoSansCyrl";
      color: #35cdc8;
      font-weight: bold; }

#about {
  margin-top: 30px;
  background-color: #f1f1f1;
  border-top: 4px #35cdc8 solid;
  border-bottom: 4px #35cdc8 solid;
  padding-top: 95px;
  padding-bottom: 95px; }
  #about h1 {
    font-family: "Museo2";
    font-size: 31px;
    color: #35cdc8; }
  #about h3 {
    font-family: "Museo1";
    font-size: 15px;
    color: #a7a8a8;
    padding-bottom: 32px;
    font-weight: bold; }
  #about p.about {
    font-size: 15px;
    font-family: "Museo0";
    color: #101010;
    font-weight: bold; }
  #about p.recomendation {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 15px;
    font-family: "Museo0";
    color: #35cdc8;
    max-width: 60%;
    font-weight: bold; }
  #about button {
    font-family: "Museo1";
    font-size: 21px; }

#contacts {
  background-color: #f2f2f2;
  border-top: 5px #35cdc8 solid;
  border-bottom: 5px #35cdc8 solid;
  padding-top: 67px;
  padding-bottom: 67px; }
  #contacts h1 {
    font-family: "Museo2";
    font-size: 45px;
    color: #35cdc8; }
  #contacts img.blue-line {
    padding-top: 25px;
    padding-bottom: 93px; }
  #contacts img.team {
    border: 9px #089999 solid;
    border-radius: 10px;
    max-width: 100%; }
  #contacts h2 {
    font-family: "Museo2";
    font-size: 45px;
    color: #35cdc8; }
  #contacts p.address {
    font-family: "Museo1";
    font-weight: bold;
    font-size: 17px;
    color: #089999; }
  #contacts .contact {
    padding-bottom: 30px; }
    #contacts .contact a {
      font-family: "Museo1";
      font-weight: bold;
      font-size: 17px;
      color: #444;
      text-decoration: underline; }
    #contacts .contact ul {
      margin-top: 30px; }
      #contacts .contact ul li {
        font-family: "Museo1";
        font-weight: bold;
        font-size: 17px;
        color: #35cdc8; }
        #contacts .contact ul li img {
          max-width: 50px;
          margin-right: 15px; }
        #contacts .contact ul li a {
          font-family: "Museo1";
          font-weight: bold;
          font-size: 17px;
          color: #35cdc8 !important; }
  #contacts a {
    font-family: "Museo1";
    font-weight: bold;
    font-size: 17px;
    color: #444;
    text-decoration: underline; }

footer {
  background-color: #f2f2f2;
  padding-top: 100px; }
  footer ul li a {
    font-family: "Museo2";
    color: #35cdc8;
    font-size: 20px;
    padding-bottom: 5px; }
    footer ul li a:hover {
      text-decoration: unset;
      color: #35cdc8; }
  footer .bottom-footer {
    padding-top: 67px;
    padding-bottom: 67px; }
    footer .bottom-footer p {
      font-family: "Museo2";
      color: #a9aaaa;
      font-size: 20px; }
    footer .bottom-footer img {
      max-width: 50px;
      height: auto; }
    footer .bottom-footer a {
      padding-left: 12px; }
