#googleMap {
    .modal-dialog {
        top: 20%;
        .modal-header {
            background-color: $mainTextColor;
            h4 {
                font-family: "Museo0";
                color: #fff;
                font-size: 19px;
            }
            .close {
                color: #fff;
            }
        }
        .modal-body {
            padding: 0;
            iframe {
                width: 100%;
                height: 450px;
                border-width: 0px;
            }
        }
    }
}

#footerModal {
    top: 12%;
}

.mainModals {
    top: 18%;
    .modal-dialog {
        font-family: "Museo3";
        border-radius: unset;
        .modal-content {
            border: unset;
            border-radius: unset;
            .modal-header {
                padding-bottom: 0;
                border: unset;
                button.close {
                    opacity: 1;
                    span {
                        color: #009f9e;
                        font-size: 39px;
                    }
                }
            }
            .modal-body {
                h1 {
                    font-size: 29px;
                    color: $mainTextColor;
                }
                p {
                    font-family: "Museo1";
                    font-size: 16px;
                    color: #047a9d;
                    font-weight: bold;
                }
                form {
                    margin-top: 25px;
                    .footer-btn {
                        margin-bottom: 70px;
                        button {
                            width: 305px;
                            font-size: 20px;
                        }
                    }
                    textarea {
                        resize: none;
                    }
                    input,
                    textarea {
                        background-color: #f1f1f1;
                        border: unset;
                        border-radius: 30px;
                        padding: 12px 35px;
                        margin-top: 30px;
                        max-width: 315px;
                        margin: 0 auto;
                        &::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            font-family: "Museo0";
                            color: $placeholder;
                            font-size: 15px;
                        }
                        &::-moz-placeholder {
                            /* Firefox 19+ */
                            font-family: "Museo0";
                            color: $placeholder;
                            font-size: 15px;
                        }
                        &:-ms-input-placeholder {
                            /* IE 10+ */
                            font-family: "Museo0";
                            color: $placeholder;
                            font-size: 15px;
                        }
                        &:-moz-placeholder {
                            /* Firefox 18- */
                            font-family: "Museo0";
                            color: $placeholder;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    #callMeModal {
        .modal-dialog {
            max-width: 480px;
            margin: 1.75rem auto;
        }
    }
}

@media screen and (max-width: 575px) {
    .mainModals {
        .modal-dialog {
            border: unset;
            .modal-content {
                .modal-body {
                    h1 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 11px;
                    }
                    form {
                        .footer-btn {
                            button {
                                width: unset;
                            }
                        }
                        input {
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }
}

// ============= start modal plans ============
.modalPlans {
    .modal-dialog {
        .modal-content {
            border-radius: unset;
            border-top: 13px #65edf3 solid;
            border-bottom: 13px #65edf3 solid;
            border-left: unset;
            border-right: unset;
            .modal-body {
                font-family: "Museo1";
                padding-left: 60px;
                padding-right: 50px;
                background-color: #f4f5f5;
                .list-block {
                    border-bottom: 1.5px #65edf3 dashed;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    padding-right: 15px;
                    position: relative;
                    &:nth-child(3) p {
                        font-weight: 900;
                    }
                    &:nth-child(7) p {
                        font-weight: 900;
                    }
                    &:after {
                        content: '';
                        border-left: 1.8px #65edf3 dashed;
                        height: 100%;
                        position: absolute;
                        right: 7%;
                    }
                    &:nth-last-child(2) {
                        border-bottom: unset;
                    }
                    .right-block {
                        img {
                            max-width: 30px;
                            height: auto;
                        }
                    }
                }
                p {
                    font-size: 15px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.27;
                    letter-spacing: 1.2px;
                    text-align: left;
                    color: #414242;
                    text-transform: uppercase;
                }
                ol {
                    padding-left: 25px;
                    margin-bottom: 0;
                    li {
                        font-size: 15px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.27;
                        letter-spacing: 1.2px;
                        text-align: left;
                        color: #414242;
                        text-transform: uppercase;
                    }
                }
                .text-summary {
                    margin-top: 35px;
                    padding-top: 35px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 20%;
                        top: 0;
                        height: 1px;
                        width: 60%;
                        border-top: 2px #65edf3 dashed;
                    }
                    P {
                        font-size: 15px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.27;
                        letter-spacing: 1.2px;
                        text-align: center;
                        color: #414242;
                    }
                }
            }
            .modal-footer {
                padding-left: 60px;
                padding-right: 60px;
                padding-bottom: 45px;
                justify-content: space-between;
                border-top: unset;
                background-color: #efeeee;
                .plan-name {
                    h2 {
                        font-family: "Museo3";
                        font-size: 23px;
                        font-weight: 900;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.65;
                        letter-spacing: 1.8px;
                        text-align: left;
                        color: #2ecccf;
                        text-transform: uppercase;
                    }
                }
                .prices {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p {
                        font-family: "Museo3";
                        font-size: 40px;
                        font-weight: 900;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 0.95;
                        letter-spacing: 3.2px;
                        text-align: left;
                        color: #2ecccf;
                    }
                    button {
                        font-family: "Museo2";
                        font-size: 21px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 0.9;
                        letter-spacing: 1.7px;
                        text-align: center;
                        color: #ffffff;
                        padding: 12px 35px 10px 35px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .modalPlans {
        .modal-dialog {
            min-width: 957px;
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .modalPlans {
        .modal-dialog {
            min-width: 760px;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .modalPlans {
        .modal-dialog {
            max-width: 560px;
            .modal-content {
                .modal-body {
                    padding-left: 15px;
                    padding-right: 15px;
                    p {
                        font-size: 11px;
                    }
                    ol {
                        li {
                            font-size: 11px;
                        }
                    }
                    .list-block {
                        .right-block {
                            img {
                                max-width: 15px;
                                height: auto;
                            }
                        }
                    }
                    .text-summary {
                        p {
                            font-size: 11px;
                        }
                    }
                }
                .modal-footer {
                    padding-left: 15px;
                    padding-right: 15px;
                    .plan-name {
                        h2 {
                            font-size: 16px;
                        }
                    }
                    .prices {
                        p {
                            font-size: 19px;
                        }
                        button {
                            padding-left: 7px;
                            padding-right: 7px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .modalPlans {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    padding-left: 5px;
                    padding-right: 5px;
                    p {
                        font-size: 10px;
                    }
                    ol {
                        li {
                            font-size: 10px;
                        }
                    }
                    .list-block {
                        border-bottom: 1px #65edf3 dashed;
                        &:after {
                            display: none;
                        }
                        .right-block {
                            img {
                                max-width: 15px;
                                height: auto;
                            }
                        }
                    }
                    .text-summary {
                        margin-top: 20px;
                        padding-top: 20px;
                        p {
                            font-size: 11px;
                        }
                    }
                }
                .modal-footer {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 20px;
                    .plan-name {
                        h2 {
                            font-size: 16px;
                        }
                    }
                    .prices {
                        p {
                            font-size: 19px;
                        }
                        button {
                            padding-left: 7px;
                            padding-right: 7px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}