#additional-services {
    background-color: $additionalBg;
    padding-bottom: 95px;
    padding-top: 70px;
    h1 {
        color: #fff;
        font-family: "Museo2";
        font-size: 45px;
        padding-bottom: 70px;
    }
    .services-item {
        div {
            background-color: $servicesItemBg;
            border-radius: 30px;
            max-width: 80%;
            margin: 0 auto;
            padding-top: 35px;
            padding-bottom: 30px;
            img {
                max-width: 128px;
                display: block;
                margin: 0 auto;
                padding-bottom: 30px;
            }
            p {
                font-family: "Museo1";
                font-weight: bold;
                color: $mainTextColor;
            }
        }
        button {
            font-family: "Museo1";
            font-size: 21px;
            font-weight: bold;
        }
    }
}