#contacts {
    background-color: $contactsBg;
    border-top: 5px $contactsBorder solid;
    border-bottom: 5px $contactsBorder solid;
    padding-top: 67px;
    padding-bottom: 67px;
    margin-top: 60px;
    h1 {
        font-family: "Museo2";
        font-size: 45px;
        color: $mainTextColor;
    }
    img.blue-line {
        padding-top: 25px;
        padding-bottom: 93px;
    }
    img.team {
        border: 9px $imgBorder solid;
        border-radius: 10px;
        max-width: 95%;
    }
    h2 {
        font-family: "Museo2";
        font-size: 45px;
        color: $mainTextColor;
    }
    p.address {
        font-family: "Museo1";
        font-weight: bold;
        font-size: 17px;
        color: $imgBorder;
    }
    .right-part {
        padding-left: 40px;
    }
    .contact {
        padding-bottom: 30px;
        position: relative;
        &:before {
            content: '';
            width: 3px;
            background-color: #c7dee5;
            position: absolute;
            height: 92%;
            left: -8.2%;
        }
        a {
            font-family: "Museo1";
            font-weight: bold;
            font-size: 17px;
            color: #444;
            text-decoration: underline;
        }
        ul {
            margin-top: 30px;
            li {
                font-family: "Museo1";
                font-weight: bold;
                font-size: 17px;
                color: $mainTextColor;
                img {
                    max-width: 50px;
                    margin-right: 15px;
                }
                a {
                    font-family: "Museo1";
                    font-weight: bold;
                    font-size: 17px;
                    color: $mainTextColor !important;
                    text-decoration: unset;
                }
            }
        }
    }
    a {
        font-family: "Museo1";
        font-weight: bold;
        font-size: 17px;
        color: #444;
        text-decoration: underline;
    }
}

@media screen and(max-width: 991px) {
    #contacts {
        h2,
        p,
        a {
            text-align: center;
            display: block;
        }
        img.team {
            margin-bottom: 30px;
        }
        .contact a {
            text-align: center;
            display: block;
        }
        .contact a:last-child {
            text-align: left;
            display: inline;
        }
        .contact {
            &:before {
                display: none;
            }
        }
    }
}

@media screen and(max-width: 576px) {
    #contacts {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 30px;
        }
        p.address {
            font-size: 14px;
        }
        .contact {
            ul li {
                img {
                    max-width: 35px;
                }
                a {
                    font-size: 14px;
                }
            }
        }
    }
}