footer {
    background-color: $footerBg;
    padding-top: 100px;
    ul {
        li {
            a {
                font-family: "Museo2";
                color: $mainTextColor;
                font-size: 20px;
                padding-bottom: 5px;
                &:hover {
                    text-decoration: unset;
                    color: $mainTextColor;
                }
            }
        }
    }
    .bottom-footer {
        padding-top: 67px;
        padding-bottom: 67px;
        p {
            font-family: "Museo2";
            color: #a9aaaa;
            font-size: 20px;
        }
        img {
            max-width: 50px;
            height: auto;
        }
        a {
            padding-left: 12px;
        }
    }
}