footer {
    background-color: $footerBg;
    padding-top: 100px;
    img.logo {
        // max-width: 120px;
        max-width: 190px;
    }
    ul {
        li {
            a {
                font-family: "Museo2";
                color: $mainTextColor;
                font-size: 20px;
                padding-bottom: 5px;
                &:hover {
                    text-decoration: unset;
                    color: $mainTextColor;
                }
            }
        }
    }
    .bottom-footer {
        padding-top: 67px;
        padding-bottom: 67px;
        p {
            font-family: "Museo2";
            color: #a9aaaa;
            font-size: 16px;
        }
        img {
            max-width: 35px;
            height: auto;
        }
        a {
            padding-left: 12px;
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        padding-top: 30px;
        .bottom-footer {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}

@media screen and (max-width: 575px) {
    footer {
        img.logo {
            display: none;
        }
        .phone-group {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .bottom-footer {
            p {
                font-size: 13px;
            }
            img {
                max-width: 30px;
            }
        }
    }
}