header {
    font-family: "Museo2";
    background-color: $headerBg;
    padding-top: 90px;
    min-height: 1000px;
    h1 {
        color: $mainTextColor;
        font-size: 76px;
        margin-bottom: 0;
    }
    h5 {
        font-size: 42px;
        color: $mainTextColor;
    }
    p {
        font-size: 25px;
        color: #bbbbbc;
        padding-bottom: 80px;
    }
    .paper {
        img {
            max-width: 500px;
        }
    }
    button.gradient {
        font-size: 30px;
        font-family: "Museo1";
    }
    // FEATURE ITEMS
    .feature-item {
        padding-top: 50px;
        font-family: 'Open Sans', sans-serif;
        img {
            max-width: 50px;
            display: block;
            margin: 0 auto;
            padding-bottom: 33px;
        }
        p {
            color: $mainTextColor;
            font-size: 20px;
            text-align: center;
            max-width: 80%;
            margin: 0 auto;
            font-weight: 500;
            padding-bottom: 0;
        }
    }
    .relative-block {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    // YOUTUBE
    .youtube {
        margin-top: 100px;
        iframe {
            width: 100%;
            height: 355px;
            border: 8px $borderClr solid;
            border-radius: 10px;
        }
    }
    .form {
        margin-top: 100px;
        font-family: "Museo2";
        background-color: $formBg;
        border-radius: 10px;
        h2 {
            color: #fff;
            font-size: 34px;
            padding-top: 40px;
            padding-bottom: 20px;
            margin-bottom: 0;
        }
        p {
            color: #f3f0f0;
            font-size: 15px;
            max-width: 80%;
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 0;
        }
        input {
            margin-top: 20px;
            margin-bottom: 20px;
            border: unset;
            border-radius: 30px;
            padding: 12px 25px;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                font-family: "Museo0";
                color: $placeholder;
                font-size: 15;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                font-family: "Museo0";
                color: $placeholder;
                font-size: 15;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                font-family: "Museo0";
                color: $placeholder;
                font-size: 15;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                font-family: "Museo0";
                color: $placeholder;
                font-size: 15;
            }
        }
        button {
            font-size: 21px;
        }
    }
}

@media screen and (max-width: 1199px) {
    header {
        .feature-item {
            p {
                max-width: unset;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    header {
        min-height: 920px;
        h1 {
            font-size: 70px;
        }
        h5 {
            font-size: 40px;
        }
        .paper {
            img {
                max-width: 400px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    header {
        padding-bottom: 50px;
        padding-top: 30px;
        .relative-block {
            position: relative;
        }
        p {
            padding-bottom: 20px;
        }
        .paper {
            img {
                max-width: 300px;
                display: block;
                margin: 0 auto;
            }
        }
        .form {
            margin-top: 50px;
            padding-bottom: 40px;
        }
    }
}

@media screen and (min-width: 576px) and (max-width:767px) {
    header {
        h1 {
            font-size: 45px;
        }
        h5 {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 575px) {
    header {
        h1 {
            font-size: 36px;
        }
        h5 {
            font-size: 26px;
        }
        p {
            font-size: 16px;
        }
        .feature-item {
            p {
                font-size: 16px;
            }
        }
        .relative-block {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .form {
            margin-left: 15px;
            margin-right: 15px;
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 13px;
            }
        }
    }
}