#plans {
    margin-top: 250px;
    font-family: "Museo2";
    h1 {
        font-size: 48px;
        color: $mainTextColor;
        padding-bottom: 52px;
    }
    .plans-item>div {
        background: #31c9cd;
        background: linear-gradient(120deg, #31c9cd, #2dbfd6, #3bc6ea);
        border-radius: 10px;
        max-width: 80%;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 30px;
        h3 {
            font-size: 21px;
            color: #fff;
            text-align: center;
            padding-bottom: 20px;
        }
        p {
            font-size: 15px;
            color: #e4e0e0;
            margin: 0 auto;
            max-width: 70%;
            text-align: center;
            padding-bottom: 20px;
        }
        button {
            font-size: 21px;
        }
    }
    .desription {
        padding-top: 60px;
        p {
            font-family: "MuseoSansCyrl";
            color: $mainTextColor;
            font-weight: bold;
        }
    }
}